body {
  display: block;
  background-color: #f7fdfc;
  font-family: system-ui, sans-serif;
}

img[alt="Logo"] {
  width: 2.6em;
}

.left p {
  color: #747474;
}

[data-visible] {
  cursor: pointer;
}
.container {
  padding: 1em;
}

.full-screen {
  height: 100vh;
}

.row,
.column,
.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-start {
  justify-content: start;
}
.justify-around {
  justify-content: space-around;
}
.column {
  flex-direction: column;
}

.row > .col-12 {
  height: auto;
  width: 100%;
}

.gutter > *,
.col-gutter > * {
  padding-top: 16px;
  padding-left: 16px;
}

.col-gutter {
  margin-top: -16px;
  margin-left: -16px;
}

.card {
  width: 100%;
  background-color: #fff;
  border-radius: 0.2em;
}

.card .card-section {
  padding: 16px;
  position: relative;
}
.agreement {
  padding: 1em;
  text-align: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.agreement a {
  color: rgb(45, 196, 182);
}

.form {
  padding: 2em !important;
}
.form label {
  margin-bottom: 0.3em;
  font-weight: 500;
}
.form input,
.form select {
  border: solid 1px rgb(212, 211, 211);
  border-radius: 0.3em;
  padding: 1em;
  outline: none;
}
.form input:focus {
  border: solid 2px rgb(45, 196, 182);
}
.form button[type="submit"] {
  width: 100%;
  border: none;
  color: #fff;
  background-color: rgb(45, 196, 182);
  outline: none;
  padding: 1em;
  border-radius: 0.3em;
}
.input-wraper .input {
  position: relative;
}
.input-wraper .input,
.input-wraper .input input {
  width: 100%;
}
.input .suffix {
  position: absolute;
  translate: -30px -50%;
  top: 50%;
  bottom: 50%;
}

@media (min-width: 1024px) {
  img[alt="Logo"] {
    width: 4em;
  }
  .row > .col-md-6 {
    flex: 0 0 auto;
    height: auto;
    width: 50%;
  }
  .md-justify-center {
    justify-content: center;
  }
  .container {
    padding: 5em;
  }
  .agreement:not(.inner) {
    display: none;
  }
}

@media (max-width: 430px) {
  .agreement.inner {
    display: none;
  }
}
